<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>Insulter App</h1>
                    <p>This app will insult the shit out of you</p>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <h3>Insulter App:</h3>
                    <br>
                    <p>
                    Insult people...
                    </p>
                    <br>
                    <p>
                      Download this shit
                    </p>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
