<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>Our Members</h1>
                    <p>Look how dope we are</p>


<ul class="nav nav-pills">
  <li role="presentation"><a href="/person1">Person 1</a></li>
  <li role="presentation" class="active"><a href="/person2">Person2</a></li>
  <li role="presentation"><a href="/person3">Person3</a></li>
  <li role="presentation"><a href="/person4">Person4</a></li>
                  </ul>

<h1>Hi I'm Person 2, Im a bigger douchebag</h1>

                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
